<div [formGroup]="parent">
    <div formGroupName="store">
        <div class="form-group">
            <input formControlName="branch" type="text" placeholder="Branch ID" class="form-control" />
            <div *ngIf="required('branch')" class="error">
                Branch is required
            </div>
        </div>
        <div class="form-group">
            <input formControlName="code" type="text" placeholder="Code" class="form-control" />
            <div *ngIf="required('code')" class="error">
                Code is required
            </div>
        </div>
    </div>
</div>