<div class="container">
  <div class="row">


    <div class="col">
      <ul>
        <li *ngFor="let item of items; let i = index">
          <span>{{ item.age }} {{ item.name }} {{ item.location }}</span>
        </li>
      </ul>
      <ul>
      <ng-template myFor [myForOf]="items" let-item let-i="index">
        <li>
          <span>{{ item.age }} {{ item.name }} {{ item.location }}</span>
        </li>
      </ng-template>

        <!-- <div myFor [myForOf]="items" ></div> -->
      </ul>
    </div>



  </div>
