<div class="container">
  <div class="row">
    <div class="col s3">
    </div>
    <div class="col s3">
      <div #entry></div>
    </div>
    <div class="col s3">
      <ng-container [ngTemplateOutlet]="myContent" [ngTemplateOutletContext]="ctx">
      </ng-container>
    </div>
  </div>
  <input type="text" credit-card />

  <label tooltip="toltip content" #myTooltip="tooltip" (mouseover)="myTooltip.show()" (mouseout)="myTooltip.hide()">
    Enter 32 digits
    <input type="text" />
  </label>

  <ng-template let-name let-location="location" #myContent>
    {{ name }} = {{ location }}
  </ng-template>



</div>
